.cuerpo{
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 100px;
    margin-bottom: 50px;
    height: auto;
}

.gridCatalogo{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 50px;
    height: auto;
    margin-bottom: 30px;
}

.libro{
    transition: 0.3s;
    img{
        width: 150px;
        transition: 0.4s;
        box-shadow: -9px 5px 5px 2px rgb(180, 180, 180);
    }
    .detallesLibro{
        .titulo{
            a{
                width: 100%;
                word-wrap: break-word;  
                white-space: normal;
            }
            
        }
    }
}


.libro:hover{
    transition: 0.3s;
    transform: translateY(-10px);
}

.titulo{
    text-align: center;
}

.titulo p{
    font-size: 14px;
    margin-top: 15px;
    font-weight: 600;
}


.breadcrumbs{
    text-align: left;
    padding-bottom: 40px;
    padding-top: 20px;
    a{
        color: black;
        text-decoration: none;
        font-size: 15px;
    }
    .mainBread{
        font-weight: 700;
    }
}

.ver{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    h3{
        font-weight: 700;   
    }
    h4{
        font-weight: 400;
        font-size: 17px;
    }
}

.etiqueta{
    display: flex;
    justify-content: center;
    text-align: center;
    height: min-content;
    h4{
        cursor: pointer;
        color: black;
        background-color: #dddddd;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 20px;
        width: min-content;
        font-size: 20px;
        font-weight: 600;
        transition: 0.4s;
    }
    h4:hover{
        transition: 0.4s;
        color: white;
        background-color: rgb(0, 0, 0);
    }
}

/*Telefonos Moviles*/
@media only screen and (max-width: 575px){
    .cuerpo{
        margin-left: 5%;
        margin-right: 5%;
    }

    .gridCatalogo{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 50px;
        height: auto;
        margin-bottom: 30px;
        gap: 50px;
    }

    .libro{
        transition: 0.3s;
        p{
            font-size: 25px;
        }
        img{
            width: 350px;
            transition: 0.4s;
            box-shadow: -9px 5px 5px 2px rgb(180, 180, 180);
        }
        .detallesLibro{
            .titulo{
                a{
                    width: 100%;
                    word-wrap: break-word;  
                    white-space: normal;
                }
                
            }
        }
    }
}

/*Tablets*/
@media only screen and (min-width: 576px) and (max-width: 1200px){
    .cuerpo{
        margin-left: 5%;
        margin-right: 5%;
    }

    .gridCatalogo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 50px;
        height: auto;
        margin-bottom: 30px;
        gap: 50px;
    }

    .libro{
        transition: 0.3s;
        img{
            width: 200px;
            transition: 0.4s;
            box-shadow: -9px 5px 5px 2px rgb(180, 180, 180);
        }
        .detallesLibro{
            .titulo{
                a{
                    width: 100%;
                    word-wrap: break-word;  
                    white-space: normal;
                }
                
            }
        }
    }
}

/*Pantallas medianas*/
@media (min-width: 768px) and (max-width: 993px) {
    .cuerpo{
        margin-left: 5%;
        margin-right: 5%;
    }

    .gridCatalogo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 50px;
        height: auto;
        margin-bottom: 30px;
        gap: 50px;
    }

    .libro{
        transition: 0.3s;
        img{
            width: 200px;
            transition: 0.4s;
            box-shadow: -9px 5px 5px 2px rgb(180, 180, 180);
        }
        .detallesLibro{
            .titulo{
                a{
                    width: 100%;
                    word-wrap: break-word;  
                    white-space: normal;
                }
                
            }
        }
    }
}



