<body>
    <div class="wrapper">
      <div class="imagen">
        <img class="logo" src="../../../assets/img/otros/NebulaLogoBlack.png" alt="img login">
      </div>        
      <div class="body">
        <div class="fila">
          <h3>Editar Datos de Usuario</h3>
        </div>
        
        <form [formGroup]="formUsuarios" (ngSubmit)="onSubmit()">
          <div class="fila">
            <div class="inputBordeUser">
              <i class="bi bi-person"></i>
              <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre de Usuario">
            </div>
          </div>
  
          <div class="fila">
            <div class="inputBordeUser">
              <i class="bi bi-envelope"></i>
              <input formControlName="correo" type="email" class="form-control" placeholder="Correo Electrónico">
            </div>
          </div>
  
          <div class="d-grid gap-2 mb-3 fila">
            <button [disabled]="!formUsuarios.valid" type="submit" class="iniciarBoton">Editar</button>
          </div>
  
          <div class="d-grid gap-2 mb-3 botonVolver">
            <a routerLink="/userInfo/{{this.idUsuario}}" class="atras"><i class="bi bi-arrow-left"></i></a>
          </div>
        </form>
      </div>
    </div>
  </body>
  

