<footer>
    <div class="footCol">
        <img class="logo" src="../../../assets/img/otros/NebulaLogoWhite.png" alt="">
        <p>All content copyright © & Trademarked of their respective owners. All rights reserved.</p>
    </div>
    <div class="footCol">
        <a href="#" routerLink="/aviso-legal"><p>Aviso Legal</p></a>
        <p>Privacidad y Cookies</p>
        <a href="#" routerLink="/politica-privacidad"><p>Política de Privacidad</p></a>
        <p>Formas de pago</p>
    </div>
    <div class="footCol">
        <p>Contacto</p>
        <p>Siguenos</p>
        <p>Blog</p>
        <p><img (click)="switchLanguage('en')" class="bandera" src="../../../assets/img/otros/UK.png" alt=""><img (click)="switchLanguage('es')" class="bandera" src="../../../assets/img/otros/SPAIN.webp" alt=""></p>
    </div>
</footer>