<footer>
    <div class="footCol copyright">
        <img class="logo" src="../../../assets/img/otros/NebulaLogoWhite.png" alt="">
        <p>{{"Todo el contenido tiene derechos de autor © y marcas registradas de sus respectivos dueños. Reservados todos los derechos." | translate}}</p>
    </div>
    <div class="footCol">
        <a href="#" routerLink="/aviso-legal"><p>{{"Aviso Legal" | translate}}</p></a>
        <a href="#" routerLink="/cookies"><p>{{"Privacidad y Cookies" | translate}}</p></a>
        <a href="#" routerLink="/politica-privacidad"><p>{{"Política de Privacidad" | translate}}</p></a>
        <a href="#" routerLink="/formas-pago"><p>{{"Formas de pago" | translate}}</p></a>
    </div>
    <div class="footCol">
        <a href="#" routerLink="/acerca"><p>{{"Acerca de..." | translate}}</p></a>
        <div class="banderas">
            <p><img (click)="switchLanguage('en')" class="bandera" src="../../../assets/img/otros/UK.png" alt=""></p>
            <p><img (click)="switchLanguage('es')" class="bandera" src="../../../assets/img/otros/SPAIN.webp" alt=""></p>
        </div>
    </div>
    <div class="footCol">
        <div class="redes">
            <a href="https://www.instagram.com"><i class="bi bi-instagram iconoRedes"></i></a>
            <a href="https://www.linkedin.com/feed/"><i class="bi bi-linkedin iconoRedes"></i></a>
            <a href="https://www.youtube.com"><i class="bi bi-youtube iconoRedes"></i></a>
            <a href="https://x.com/home?lang=es"><i class="bi bi-twitter-x iconoRedes"></i></a>
            <a href="https://www.facebook.com/?locale=es_ES"><i class="bi bi-facebook iconoRedes"></i></a>
            <a href="https://www.tiktok.com/es/"><i class="bi bi-tiktok iconoRedes"></i></a>
        </div>
    </div>
</footer>