<app-header></app-header>
<div class="cuerpo">
    <div class="menu">
        <div class="breadcrumbs">
            <h5>
                <a href="#" routerLink="/catalogo" class="mainBread">{{"CATÁLOGO" | translate}}</a>
                > 
                <a href="#">{{"TODOS LOS VOLUMENES" | translate}}</a>
            </h5>
            <div class="ver">
                <h3>{{"CATÁLOGO" | translate}}</h3>
                <div class="verseries">
                    <a href="#" routerLink="/series/0"><h4>{{"VER SERIES" | translate}} <i class="bi bi-chevron-down"></i></h4></a>
                </div>
            </div>
        </div>
    </div>
    <div class="gridCatalogo">
        <div *ngFor="let libro of libros | paginate: { itemsPerPage: 10, currentPage: page }">
            <div class="libro">
                <a routerLink="/libros/{{libro.id}}" routerLinkActive="active" class="dropdown-item" aria-current="page"
                    href="#">
                    <img src="{{libro.portada}}" alt="">
                </a>
                <div class="detallesLibro">
                    <div class="titulo">
                        <a routerLink="/libros/{{libro.id}}" routerLinkActive="active" class="dropdown-item"
                            aria-current="page" href="#">
                            <p>{{libro.titulo}}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <pagination-controls (pageChange)="page = $event" previousLabel="{{'Anterior' | translate}}" nextLabel="{{'Siguiente' | translate}}"></pagination-controls>
</div>
<app-footer></app-footer>