<app-header></app-header>
@if (this.numeroPortada == 1) {
    <div class="portada portada{{this.numeroPortada}}">
        <img src="../../../assets/img/otros/logo1.png" class="logoPortada">
        <div class="carruselText3">
            <p>Dioses contra Humanos <br> ¡¡¡Las batallas que deciden el destino del hombre!!!</p>
            <button class="botonDestacado botonCarrusel1" routerLink="/serie/19">Leer más</button>
        </div>
    </div> 
}
@if (this.numeroPortada == 2) {
    <div class="portada portada{{this.numeroPortada}}">
        <img src="../../../assets/img/otros/logo2.png" class="logoPortada">
        <div class="carruselText3">
            <p>La tribu de los elfos reclama venganza sobre quienes los purgaron. ¡¿Sus aliados son ahora sus enemigos?! </p>
            <button class="botonDestacado botonCarrusel2" routerLink="/serie/20">Leer más</button>
        </div>
    </div> 
}
@if (this.numeroPortada == 3) {
    <div class="portada portada{{this.numeroPortada}}">
        <img src="../../../assets/img/otros/logo3.png" class="logoPortada">
        <div class="carruselText3">
            <p> Venom contra Spiderman, una vez más... ¡pero como si fuera por primera vez! Eddie Brock se enfrenta a un trepamuros diferente al que conoce.</p>
            <button class="botonDestacado botonCarrusel3" routerLink="/libros/34">Leer más</button>
        </div>
    </div> 
}
<div class="cuerpo">
    <div class="catalogo">
        <h3>{{"Novedades Recientes" | translate}}</h3>
        <div class="bloque">
            @for (libro of libros; track $index) {
                    <div class="libro">
                        <a routerLink="/libros/{{libro.id}}" routerLinkActive="active" class="dropdown-item" aria-current="page" href="#">
                            <img src="{{libro.portada}}" class="imagenLibro">
                        </a>
                        <div class="detallesLibro">
                            <div class="titulo">
                                <a routerLink="/libros/{{libro.id}}" routerLinkActive="active" class="dropdown-item" aria-current="page" href="#">
                                    <h4>{{libro.titulo}}</h4>
                                </a>
                            </div>
                            <div class="comprar">
                                <h6>{{libro.precio}}€</h6>
                                @if (usuario) {
                                    <button type="button" class="botonCarrito" (click)="agregarCarrito(libro)">Añadir al carrito</button>
                                }
                                @else {
                                    <button type="button" class="botonCarrito" routerLink="/login">Añadir al carrito</button>
                                }
                            </div>
                        </div>
                    </div>
            }
        </div>
    </div>
    <div class="novedades">
        <div class="colNov1">
            <div class="novedad" routerLink="/libros/75">
                <div class="imagenNoti">
                    <img src="../../../assets/img/otros/Novedad2.jpg" alt="">
                </div>
                <div class="textoNov1">
                    <h3>MASACRE ABSOLUTA</h3>
                    <p>¡La ola sádica del simbionte asesino en serie comienza aquí! Como si Venom no fuera lo suficientemente letal, ¿imagina qué pasaría si su "otro" simbiótico se hubiera unido a un psicópata asesino? Ahí es donde entra Cletus Kasady.</p>
                </div>
            </div>
        </div>
        <div class="colNov2">
            <div class="novedad" routerLink="/libros/82">
                <div class="imagenNoti2">
                    <img src="../../../assets/img/otros/Novedad1.jpg" alt="">
                </div>
                <div class="textoNov2">
                    <h3>DANDADAN</h3>
                    <p>Esta entretenida historia de extraterrestres y fantasmas te dejará con ganas de más desde su primer capítulo. Oculto, un friki que cree en los ovnis, y Ayase, su compañera criada por una abuela médium, vivirán una historia que les hará cuestionarse todo lo que han creído hasta el momento.</p>
                </div>
            </div>
            <div class="novedad" routerLink="/serie/22">
                <div class="imagenNoti2">
                    <img src="../../../assets/img/otros/Novedad3.jpg" alt="">
                </div>
                <div class="textoNov3">
                    <h3>FULL METAL ALCHEMIST KANZENBAN</h3>
                    <p>Cuando tan solo eran unos niños, los hermanos Edward y Alphonse Elric usaron la alquimia para cometer un pecado capital: intentar la transmutación humana, pero no se resignan a su destino y están dispuestos a recuperar sus cuerpos.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="noticias">
        <div class="tituloNoticias">
            <h2>{{"Últimas Noticias" | translate}}</h2>
            <p>{{"Mantente al día de las últimas licencias y novedades de nuestro catálogo." | translate}}</p>
        </div>
        <div class="cuerpoNoticias">
            <div class="noticia">
                @if (this.noticias[0]) {
                    <div class="imagenNoticia">
                        <img [src]="noticias[0].miniatura" alt="" routerLink="/noticias/{{this.noticias[0].id}}">
                    </div>
                    <div class="textoNoticias">
                        <h5 routerLink="/noticias/{{this.noticias[0].id}}">{{this.noticias[0].titulo}}</h5>
                        <a routerLink="/noticias/{{this.noticias[0].id}}">{{"Leer más" | translate}} →</a>
                    </div>
                }
            </div>
            <div class="noticia">
                @if (this.noticias[1]) {
                    <div class="imagenNoticia">
                        <img [src]="noticias[1].miniatura" alt="" routerLink="/noticias/{{this.noticias[1].id}}">
                    </div>
                    <div class="textoNoticias">
                        <h5 routerLink="/noticias/{{this.noticias[1].id}}">{{this.noticias[1].titulo}}</h5>
                        <a routerLink="/noticias/{{this.noticias[1].id}}">{{"Leer más" | translate}} →</a>
                    </div>
                }
            </div>
            <div class="noticia">
                @if (this.noticias[2]) {
                    <div class="imagenNoticia">
                        <img [src]="noticias[2].miniatura" alt="" routerLink="/noticias/{{this.noticias[2].id}}">
                    </div>
                    <div class="textoNoticias">
                        <h5 routerLink="/noticias/{{this.noticias[2].id}}">{{this.noticias[2].titulo}}</h5>
                        <a routerLink="/noticias/{{this.noticias[2].id}}">{{"Leer más" | translate}} →</a>
                    </div>
                }
            </div>
            
        </div>
    </div>   
</div>
<div class="resaltados">
    <div class="destacado">
        <img src="../../../assets/img/otros/destacado3.jpg">
        <div class="destacadoTitle3">
            <h3>HELLBOY 31. HELLBOY Y LA AIDP: 1957 </h3>
            <p>NUEVAS HISTORIAS QUE AHONDAN EN EL PASADO DE HELLBOY COMO AGENTE DE LA AIDP</p>
            <p>Una nueva edición de Brujería y demonología de Gustav Strobl causa estragos. Un fantasma merodea una fosa común. 
                Las dudas de Woody como criptozoólogo de la AIDP. Un hombre tigre amenaza un pueblo de la India. Hay algo oculto en un antiguo laboratorio de 
                la Hermandad Heliópica de Ra. Una invocación para celebrar el año nuevo. Seis nuevas aventuras del pasado de Hellboy.
            </p>
            <button class="botonDestacado boton2" routerLink="/libros/89">Leer más</button>
        </div>
    </div>
    <div class="destacado">
        <div class="destacadoTitle2">
            <h3>Blue Lock</h3>
            <p>¡Comienza la segunda fase del proyecto BLUE LOCK!</p>
            <p>¡Los egoístas lucharán en aún más campos de batalla!
                Tras ganar el gran partido contra la selección japonesa de Sub-20, Isagi y el resto de chicos de BLUE LOCK se han convertido en auténticos héroes.
                ¡Mientras los delanteros gozan de unas breves vacaciones, Jinpachi Ego ya les está preparando un nuevo desafío!
            </p>
            <button class="botonDestacado boton1" routerLink="/serie/13">Leer más</button>
        </div>
        <img src="../../../assets/img/otros/destacado2.jpg">
    </div>
    <div class="destacado">
        <img src="../../../assets/img/otros/destacado1.jpg">
        <div class="destacadoTitle">
            <h3>One Piece nº 108</h3>
            <p>¡¡Aquí tenéis una historia de piratas que buscan el gran tesoro, el One Piece!!</p>
            <p>La banda del Sombrero de paja llega a la isla del futuro Egghead. ¡Allí está el laboratorio del doctor Vegapunk, donde el corazón 
                aventurero de Luffy palpita con fuerza al ver tecnologías desconocidas! ¡Pero ahí llega el CP-0 para eliminar a Vegapunk! 
            </p>
            <button class="botonDestacado boton3" routerLink="/serie/24">{{"Leer más" | translate}}</button>
        </div>
    </div>
</div> 
<app-footer></app-footer>




