<app-header></app-header>
<div class="contenedor">
    <div class="mt-4">
      <h2>Todos los Envios</h2>
    </div>
    <div class="divTabla">
      <table  class="table table-hover table-striped table-bordered dt-responsive nowrap" datatable [dtOptions]="dtoptions" [dtTrigger]="dttrigger">
        <thead>
            <tr class="table-info">
                <th>Productos</th>
                <th>ID Envio</th>
                <th class="esconder">Código Postal</th>
                <th class="esconder">Usuario</th>
                <th>Estado</th>
                <th>Gestion</th>
            </tr>
        </thead>
        <tbody>
          @for (envio of envios; track $index) {
            <tr>
                <td>
                  <button class="btn btn-primary boton" routerLink="/envios/{{envio.id}}">
                    <i class="bi bi-box-seam-fill"></i>
                  </button>
                </td>
                <td>{{ envio.nombre }}</td>
                <td class="esconder">{{ envio.codigoPostal}}</td>
                <td class="esconder">{{ envio.nombre_usuario }}</td>
                @if (envio.estado == "Empaquetando") {
                  <td class="empaquetando">{{ envio.estado }}</td>
                }
                @if (envio.estado == "Enviado") {
                  <td class="enviado">{{ envio.estado }}</td>
                }
                @if (envio.estado == "Cancelado") {
                  <td class="cancelado">{{ envio.estado }}</td>
                }
                @if (envio.estado == "Entregado") {
                  <td class="entregado">{{ envio.estado }}</td>
                }
                
            <td>
              <div class="btn-group">
                <button class="btn btn-primary boton" routerLink="/envio-editar/{{envio.id}}">
                  <i class="bi bi-pencil-square"></i>
                </button>
                <button (click)="cancelar(envio.id, $index)" class="btn btn-danger boton">
                  <i class="bi bi-trash-fill"></i>
                </button>
                <button (click)="delete(envio.id, $index)" class="btn btn-danger boton eliminar">
                  <i class="bi bi-x-lg"></i>
                </button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
</div>
<app-footer></app-footer>




