<app-header></app-header>
<div class="cuerpo">
    <div class="menu">
        <div class="breadcrumbs">
            <h5>
                <a class="mainBread">{{this.etiquetaNombre}}</a>
                > 
                <a>TODOS LOS VOLUMENES</a>
            </h5>
            <div class="ver">
                <h3>CATÁLOGO</h3>
                <div class="verseries">
                    <a href="#" routerLink="etiquetas-todas"><h4>VER ETIQUETAS <i class="bi bi-chevron-down"></i></h4></a>
                </div>
            </div>
        </div>
    </div>
    <div class="gridCatalogo">
        <div *ngFor="let libro of libros | paginate: { itemsPerPage: 15, currentPage: page }">
            <div class="libro">
                <a routerLink="/libros/{{libro.id}}" routerLinkActive="active" class="dropdown-item" aria-current="page"
                    href="#">
                    <img src="{{libro.portada}}" alt="">
                </a>
                <div class="detallesLibro">
                    <div class="titulo">
                        <a routerLink="/libros/{{libro.id}}" routerLinkActive="active" class="dropdown-item"
                            aria-current="page" href="#">
                            <p>{{libro.titulo}}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <pagination-controls (pageChange)="onPageChange($event)" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
</div>
<app-footer></app-footer>
