<app-header></app-header>
<div class="titulo">
    <h4>ACTUALIDAD</h4>
    <h3>NOTICIAS</h3>
</div>
<div class="cuerpo">
    <div class="row1">
        <div class="bloque" routerLink="/noticias/{{this.noticias[0].id}}">
            <div class="imagen">
                <img src="{{this.noticias[0].miniatura}}" alt="">
            </div>
            <div class="contenido">
                <h4>{{this.noticias[0].titulo}}</h4>
                <h6>{{this.noticias[0].fecha}}</h6>
                <p>{{this.noticias[0].extracto}}</p>
                <a href="#" routerLink="/noticias/{{this.noticias[0].id}}">Leer mas...</a>
            </div>
        </div>
    </div>
    <div class="row2">
        <div class="bloque" routerLink="/noticias/{{this.noticias[1].id}}">
            <div class="imagen">
                <img src="{{this.noticias[1].miniatura}}" alt="">
            </div>
            <div class="contenido">
                <h4>{{this.noticias[1].titulo}}</h4>
                <p>{{this.noticias[1].fecha}}</p>
            </div>
        </div>
        <div class="bloque" routerLink="/noticias/{{this.noticias[2].id}}">
            <div class="imagen">
                <img src="{{this.noticias[2].miniatura}}" alt="">
            </div>
            <div class="contenido">
                <h4>{{this.noticias[2].titulo}}</h4>
                <p>{{this.noticias[2].fecha}}</p>
            </div>
        </div>
        <div class="bloque">
            <div class="imagen">
                <img src="{{this.noticias[3].miniatura}}" alt="">
            </div>
            <div class="contenido">
                <h4>{{this.noticias[3].titulo}}</h4>
                <p>{{this.noticias[3].fecha}}</p>
            </div>
        </div>
    </div>
    <div class="row3">
        <div class="bloque">
            <div class="imagen">
                <img src="{{this.noticias[4].miniatura}}" alt="">
            </div>
            <div class="contenido">
                <h4>{{this.noticias[4].titulo}}</h4>
                <p>{{this.noticias[4].fecha}}</p>
            </div>
        </div>
        <div class="bloque">
            <div class="imagen">
                <img src="{{this.noticias[5].miniatura}}" alt="">
            </div>
            <div class="contenido">
                <h4>{{this.noticias[5].titulo}}</h4>
                <p>{{this.noticias[5].fecha}}</p>
            </div>
        </div>
        <div class="bloque">
            <div class="imagen">
                <img src="{{this.noticias[6].miniatura}}" alt="">
            </div>
            <div class="contenido">
                <h4>{{this.noticias[6].titulo}}</h4>
                <p>{{this.noticias[6].fecha}}</p>
            </div>
        </div>
        <div class="bloque">
            <div class="imagen">
                <img src="{{this.noticias[7].miniatura}}" alt="">
            </div>
            <div class="contenido">
                <h4>{{this.noticias[7].titulo}}</h4>
                <p>{{this.noticias[7].fecha}}</p>
            </div>
        </div>
    </div>
    <div class="todas">
        <button type="button" class="iniciarBoton" routerLink="/noticiasTodas">VER TODAS</button>
    </div>
</div>
<app-footer></app-footer>


