.cuerpo {
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;   
    padding: 30px;
    padding-top: 0px;
    label{
        font-weight: 700;
    }

    .botones{
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}

.botonAceptar{
    background-color: #81689D;
    border: 0px;
    color: white;
    font-weight: 600;
    transition: 0.4s;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 12px;
    width: 320px;
}

.botonNebula:hover {
    transition: 0.4s;
    background-color: rgb(0, 0, 0);
}

.botonAceptar:disabled{
    background-color: #525252;
}

.botonAceptar:disabled:hover{
    background-color: #525252;
}

.botonAceptar:hover{
    transition: 0.4s;
    background-color: black;
}

.botonCancelar{
    background-color: #919092;
    border: 0px;
    color: white;
    font-weight: 600;
    transition: 0.4s;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 12px;
    width: 320px;
}

.botonCancelar:hover{
    transition: 0.4s;
    background-color: black;
}

@media only screen and (max-width: 576px){
    .cuerpo {
        margin-left: 0%;
        margin-right: 0%;
        text-align: left;   
        padding: 20px;
        padding-top: 0px;
        label{
            font-weight: 700;
        }
    
        .botones{
            padding-top: 30px;
            padding-bottom: 30px;
            display: flex;
            justify-content: center;
            gap: 20px;
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    .cuerpo {
        margin-left: 0%;
        margin-right: 0%;
        text-align: left;   
        padding: 20px;
        padding-top: 0px;
        label{
            font-weight: 700;
        }
    
        .botones{
            padding-top: 30px;
            padding-bottom: 30px;
            display: flex;
            justify-content: center;
            gap: 20px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .cuerpo {
        margin-left: 0%;
        margin-right: 0%;
        text-align: left;   
        padding: 20px;
        padding-top: 0px;
        label{
            font-weight: 700;
        }
    
        .botones{
            padding-top: 30px;
            padding-bottom: 30px;
            display: flex;
            justify-content: center;
            gap: 20px;
        }
    }
}
