<app-header></app-header>
<div class="cuerpo">
    <h2>Privacidad y Cookies</h2>

    <h4>Introducción</h4>
    <p>En Nebula Editorial, valoramos su privacidad y nos comprometemos a proteger sus datos personales. Esta página explica cómo utilizamos las cookies y cómo tratamos la información personal que recopilamos.</p>

    <h4>Responsable del Tratamiento</h4>
    <p>El responsable del tratamiento de los datos personales recopilados a través del Sitio Web es Nebula Editorial S.L., con domicilio en Córdoba, inscrita en el Registro Mercantil de Córdoba. Puede contactarnos en infonebulaeditorial.com para cualquier consulta relacionada con la privacidad.</p>

    <h4>Uso de Datos Personales</h4>
    <p>Los datos personales proporcionados por los usuarios se utilizarán únicamente para los fines descritos en nuestra política de privacidad, tales como la prestación de servicios, la gestión de solicitudes y el cumplimiento de obligaciones legales.</p>

    <h4>Cookies</h4>
    <p>Las cookies son pequeños archivos de texto que se almacenan en su dispositivo cuando visita nuestro Sitio Web. Utilizamos cookies para mejorar su experiencia de navegación, analizar el uso del Sitio Web y ofrecer contenido personalizado.</p>

    <h5>Tipos de Cookies que Utilizamos</h5>
    <ul>
        <li><strong>Cookies Necesarias:</strong> Esenciales para el funcionamiento del Sitio Web.</li>
        <li><strong>Cookies de Análisis:</strong> Nos ayudan a entender cómo los usuarios interactúan con el Sitio Web.</li>
        <li><strong>Cookies de Terceros:</strong> Proporcionadas por servicios externos como Google Analytics.</li>
    </ul>

    <h5>Gestión de Cookies</h5>
    <p>Puede gestionar las cookies a través de la configuración de su navegador, deshabilitando aquellas que no desee aceptar. Sin embargo, esto podría afectar el funcionamiento de ciertas partes del Sitio Web.</p>

    <h4>Protección de Datos</h4>
    <p>Implementamos medidas técnicas y organizativas adecuadas para garantizar la seguridad de los datos personales de los usuarios. No compartimos su información con terceros, salvo que sea necesario para cumplir con la ley.</p>

    <h4>Sus Derechos</h4>
    <p>Los usuarios tienen derecho a acceder, rectificar, suprimir y limitar el tratamiento de sus datos personales. Para ejercer estos derechos, puede ponerse en contacto con nosotros en infonebulaeditorial.com.</p>

    <h4>Actualizaciones</h4>
    <p>Nos reservamos el derecho de actualizar esta página de Privacidad y Cookies en cualquier momento. Cualquier cambio se reflejará en esta página, por lo que le recomendamos revisarla periódicamente.</p>

    <h4>Legislación Aplicable y Jurisdicción</h4>
    <p>Esta página de Privacidad y Cookies se rige por la legislación española. Cualquier disputa será resuelta ante los Juzgados y Tribunales de Córdoba.</p>
</div>
<app-footer></app-footer>
