.titulo{
    padding-top: 100px;
    margin-left: 14%;
    margin-right: 14%;
    h1{
        font-size: 50px;
        font-weight: 700;
        
    }

    p{
        font-weight: 300;
    }

    .tituloh1{
        display: flex;
        gap: 20px;
        text-align: center;
        justify-content: center;
        align-items: center;
        
        i{
            font-size: 50px;
            font-weight: 700;
        }
    }
}


.container{
    width: auto;
    margin-left: 14%;
    margin-right: 14%;
    box-shadow: 0px 7px 5px 0px rgba(204,204,204,1);
}
