<app-header></app-header>
<div class="cuerpo">
    <h2>Métodos de Pago</h2>

    <h4>Tarjetas de Crédito/Débito</h4>
    <p>Aceptamos pagos con tarjetas de crédito y débito de las principales marcas como Visa, MasterCard y American Express. Los pagos con tarjeta son procesados de forma segura a través de nuestra pasarela de pago asociada.</p>

    <h4>PayPal</h4>
    <p>También puedes realizar el pago de tus compras utilizando PayPal, el sistema de pagos en línea más seguro y utilizado en todo el mundo. Solo necesitas una cuenta PayPal para completar tu compra de manera rápida y segura.</p>

    <h4>Transferencia Bancaria</h4>
    <p>Si prefieres hacer un pago mediante transferencia bancaria, puedes elegir esta opción durante el proceso de pago. Recibirás los detalles bancarios para completar la transferencia. Tenga en cuenta que esta opción puede tardar más tiempo en procesarse.</p>

    <h4>Pago Contra Reembolso</h4>
    <p>Para ciertos productos y destinos, ofrecemos la opción de pago contra reembolso. Esto significa que podrás pagar por el producto al momento de recibirlo en tu domicilio. Esta opción tiene una tarifa adicional por el servicio de reembolso.</p>

    <h4>Seguridad en los Pagos</h4>
    <p>Todos los pagos realizados en nuestro sitio web son seguros. Utilizamos protocolos de seguridad de última generación, como SSL (Secure Socket Layer), para garantizar que tu información personal y financiera esté protegida durante todo el proceso de pago.</p>

    <h4>Problemas con el Pago</h4>
    <p>Si tienes algún problema con el proceso de pago, no dudes en ponerte en contacto con nuestro servicio de atención al cliente, disponible de lunes a viernes de 9:00 a 18:00 horas. Estaremos encantados de ayudarte.</p>
</div>
<app-footer></app-footer>
