.cuerpo{
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: left;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    height: 70%;
}

.titulo{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;

    h3{
        font-weight: 700;
        font-size: 30px;
    }
}

.enviado{
    color: rgb(61, 122, 243);
    font-weight: 700;
}

.entregado{
    color: rgb(69, 201, 26);
    font-weight: 700;
}

.cancelado{
    color: rgb(255, 0, 0);
    font-weight: 700;
}

.empaquetando{
    color: rgb(255, 166, 0);
    font-weight: 700;
}

.divTabla{
    text-align: center;
    overflow-x: scroll;

    th{
        text-align: center;
        background-color: #19225c;
        border: solid 1px black;
        color: white;
    }

    td{
        text-align: center;
        vertical-align: middle;
    }
}

.btn-group{
    display: flex;
    gap: 7px;
    .boton{
        border-radius: 5px;
    }
    
}

@media only screen and (max-width: 575px){
    .contenedor{
        margin-left: 0%;
        margin-top: 20%;
        margin-right: 0%;
    }


    .crearLibro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .divTabla{
        margin-left: 0%;
        margin-right: 0%;
        text-align: left;
        font-size: 12px;

        td{
            font-size: 12px;
        }

        th{
            font-size: 12px;
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    .contenedor{
        margin-left: 5%;
        margin-top: 20%;
        margin-right: 5%;
    }

    .crearLibro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .divTabla{
        margin-left: 0%;
        margin-right: 0%;
        text-align: left;
        font-size: 12px;
        
        .esconder{
            display: none;
        }

        td{
            font-size: 12px;
        }

        th{
            font-size: 12px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .contenedor{
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .divTabla{
        margin-left: 0%;
        margin-right: 0%;
        text-align: left;
        font-size: 12px;
        
        .esconder{
            display: none;
        }

        td{
            font-size: 12px;
        }

        th{
            font-size: 12px;
        }

        .row .mt-2 .justify-content-between{
            display: flex;
            border: 1px solid black;
        }
    }
}