<app-header></app-header>
<div class="contenedor">
    <div class="mt-4">
      <h2>Inventario</h2>
    </div>
    <div class="d-grid gap-2 crearLibro">
      <a routerLink="/libros-crear" class="botonNebula" type="button" href="#">Añadir Libro</a>
    </div>
    <div class="divTabla">
      <table class="table table-hover table-striped table-bordered dt-responsive nowrap" datatable [dtOptions]="dtoptions" [dtTrigger]="dttrigger">
        <thead>
          <tr class="table-info">
            <th>Título</th>
            <th class="esconder">Categoría</th>
            <th class="esconder">Etiqueta</th>
            <th>Precio</th>
            <th class="esconder">ISBN</th>
            <th>Serie</th>
            <th>Portada</th>
            <th>Gestion</th>
          </tr>
        </thead>
        <tbody>
          @for (libro of libros; track $index) {
            <tr>
            <td>{{ libro.titulo }}</td>
            <td class="esconder">{{ libro.categoria }}</td>
            <td class="esconder">{{ libro.etiqueta }}</td>
            <td>{{ libro.precio }}€</td>
            <td class="esconder">{{ libro.ISBN }}</td>
            <td>{{ libro.serie }}</td>
            <td><img [src]="libro.portada" alt="Portada" class="imagenPortada"></td>
            <td>
              <div class="btn-group">
                <button routerLink="/libros-editar/{{libro.id}}" class="btn btn-primary boton">
                  <i class="bi bi-pencil-square"></i>
                </button>
                <button (click)="delete(libro.id, $index)" class="btn btn-danger boton">
                  <i class="bi bi-trash-fill"></i>
                </button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
</div>
<script src="https://cdn.datatables.net/fixedcolumns/5.0.4/js/FixedColumns.js"></script>
<app-footer></app-footer>
